
	<div class="post card">
		<div class="card-header">
		<h2>Create New Geography Post</h2>
		</div>
		<form id="geo-post-form" class="card-body">
		<label class="form-label" for="post-body">Post</label>
		<textarea name="geo-post-body" class="form-input"></textarea>
	<ul style="list-style: none;">
		<li><button type="submit" class="btn geo-adds">Add Post</button>
		</li>
	</ul>
		</form>
	</div>

<script src="/js/new.js"></script>