<article>
    <div>
        <div>
            <div class="name-post">
                <a href="art/update/{{id}}" class="links">{{user.username}}</a>
            </div>
            <div class="user-text">
                <p>{{art_text}}</p>
            </div>
        </div>
    </div>
</article>