<article>
    <div>
        <div class="card">
            <div class="name-post">
                <a href="art/update/{{id}}" class="links">{{user.username}}</a>
            </div>

            <div class="text-post">

                <div class="user-text">
                <p>{{art_text}}</p>
                </div>

            </div>

        </div>

    </div>
</article>
 