<article>
    <div>
        <div>
            <div>
                <a href="art/update/{{id}}" class="links">{{art_title}}</a>
            </div>
            <div>
                <p>{{art_text}}</p>
            </div>
            <div>
                <p>Posted By: <b>{{user.username}} </b></p>
            </div>
        </div>
\
    </div>
</article>