<div class="">
    {{#each this}}
    <section class="">
        <div class="">
            {{user.username}}
        </div>
        <div class="text">
            {{geo_comment_text}}
        </div>
    </section>
    {{/each}}
</div>