<article>
    <div>
        <div>
            <div>
                <a href="geography/update/{{id}}" class="links">{{geo_title}}</a>
            </div>
            <div>
                <p>{{geo_text}}</p>
            </div>
            <div>
                <p>
                    Posted By <b>{{user.username}} </b>
                </p>
            </div>
        </div>

    </div>
</article>