<article>
    <div>
        <div>
            <div>
                <a href="geography/update/{{id}}" class="links">{{user.username}}</a>
            </div>
            <div>
                <p>{{geo_text}}</p>
            </div>
        </div>

    </div>
</article>