<article>
    <div>
        <div class="card">
            <div class="name-post">
                <a href="geography/update/{{id}}" class="links">{{user.username}}</a>
            </div>

            <div class="text-post">

            <div class="user-text">
                <p>{{geo_text}}</p>
            </div>

            </div>

        </div>

    </div>
</article>