<article>
    <div>
        <div>
            <div>
                <a href="technology/update/{{id}}" class="links">{{tech_title}}</a>
            </div>
            <div>
                <p>{{tech_text}}</p>
            </div>
            <div>
                <p>Posted By: <b>{{user.username}}</b></p>
            </div>
        </div>
    </div>
</article>