<article class="">
    <div class="">
        <div class="">
            <div class="">
                <a href="/techpost/{{id}}" class="links">{{tech_title}}</a>
            </div>
            <div class="">
                <p id="">
                    Posted By <b>{{user.username}} </b>
                </p>
            </div>
        </div>
        <div class="">
            <p>{{tech_text}}</p>
        </div>
    </div>
</article>