{{!-- first page user sees - TODO: front end: needs formatting - add classes/css --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gopher a Friend</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header style="position: relative; top: -90px;">
      <h1>Gopher a Friend</h1>
      {{!-- <nav style="position: relative; bottom: 0">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">Profile</a> |
        <button class="" id="logout">Logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav> --}}
    </header>

  <div>
    <main>
      <!-- Render the sub layout -->
      {{{ body }}}

    </main>
  </div>

    <footer>
      <p>
        &copy; 2022 Gopher a Friend
      </p>
    </footer>



  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
