{{!-- first page user sees - TODO: front end: needs formatting - add classes/css --}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gopher a Friend</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Playfair+Display:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
</head>

<body>
    <header style="position: relative; top: -90px;">
      <h1 class="title">Gopher a Friend</h1>
    </header>

  <div>
    <main>
      <!-- Render the sub layout -->
      {{{ body }}}

    </main>
  </div>

    <footer style="position: fixed; bottom: 0;">
      <p class="copy">
        &copy; 2022 Gopher a Friend
      </p>
    </footer>



  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
