<a href="/profile" class="go-back"> &larr; Return to Profile </a>


<section class="posts">
    <div>
        <ul class="post-list">
            <li>
                {{#each geoPosts as |geoPost|}}
                    {{> geoPosts geoPost}}
                {{/each}}
            </li>
        </ul>   
    </div>
</section>

<article class="createPost">
    <section>
        <div>
            <h2>Create a Post</h2>
        </div>
        <div>
            <form id = "geo-post-form" class="geo-post-form">
                <div class="post-content">
                    <label for="post-content">Content</label>
                    <textarea class="entry-field" id="post-body" name="geo-post-body"></textarea>
                </div>
                <button type="submit" class="btn">Create</button>
            </form>
        </div>
    </section>
</article>

<script src="/js/geonew.js"></script>