{{!-- TODO: front end: just needs formatting - add classes/css--}}
<body>
    <!-- {{!-- TODO: front end: just needs formatting - add classes/css--}} -->
        <h1>Gopher-A-Friend</h1>
  <div class="external">
    <div class="middle">
      <div class ="internal">
    <!-- <img src="./loginBackgroundImg.png"> -->
        <div class="login">
          <h2>Login</h2>
          <form class="login-form">
            <div class="">
              <!-- <label for="email-login">email:</label> -->
              <input class="input" type="text" id="email-login" value ="User Name" />
            </div>
            <div class="">
              <!-- <label for="password-login">password:</label> -->
              <input class="input" type="password" id="password-login" value="Password" />
            </div>
            <div class="">
              <button class="loginBtn" type="submit">login</button>
            </div>
          </form>
        </div>
        <div class="">
          <h2>Signup</h2>

          <!-- {{!-- TODO: front end: add survey questions to sign in  --}} -->

          <form class="signup-form">
            <div class="">
              <!-- <label for="name-signup">name:</label> -->
              <input class="input" type="text" id="name-signup" value="Name"/>
            </div>
            <div class="">
              <!-- <label for="email-signup">email:</label> -->
              <input class="input" type="text" id="email-signup" value="User Name"/>
            </div>
            <div class="">
              <!-- <label for="password-signup">password:</label> -->
              <input class="input" type="password" id="password-signup" value="Password"/>
            </div>
            <div class="">
              <button class="signupBtn" type="submit">signup</button>
            </div>
          </form>
        </div>
      </div>
  </div>
  </div>

<script src="./js/login.js"></script>
