<div class="container">
  <article class="login">
    <p class="logSignHeader">Login</p>
    <form class="login-form">
      <label for="email-login">Username:</label>
      <input class="input" type="text" id="username-login"/>
      <label for="password-login">Password:</label>
      <input class="input" type="password" id="password-login"/>
      <button class="homeLoginBtn" type="submit">Login</button>
    </form>
  </article>

  <article class="signup">
    <p class="logSignHeader">Signup</p>
      <form class="signup-form">
        <label for="name-signup">Name:</label>
        <input class="input" type="text" id="name-signup"/>
        <label for="username-signup">Username:</label>
        <input class="input" type="text" id="username-signup"/>
        <label for="grade-signup">Grade:</label>
        <input class="input" type="text" id="grade-signup"/>
        <label for="animal-signup">Favorite Animal:</label>
        <input class="input" type="text" id="animal-signup"/>
        <label for="color-signup">Favorite Color:</label>
        <input class="input" type="text" id="color-signup"/>
        <label for="food-signup">Favorite Food:</label>
        <input class="input" type="text" id="food-signup"/>
        <label for="password-signup">Password:</label>
        <input class="input" type="password" id="password-signup"/>
        <button class="signupBtn" type="submit">Sign-Up</button>
      </form>
  </article>
</div>

<script src="./js/login.js"></script>
