{{!-- TODO: front end: just needs formatting - add classes/css--}}
<body>
  <div class="external">
    <div class="middle">
      <div class ="internal">

        <div class="login">
          <h2>Login</h2>
          <form class="login-form">
            <div class="">
              <!-- <label for="email-login">email:</label> -->
              <input class="input" type="text" id="username-login" value ="User Name" />
            </div>
            <div class="">
              <!-- <label for="password-login">password:</label> -->
              <input class="input" type="password" id="password-login" value="Password" />
            </div>
            <div class="">
              <button class="loginBtn" type="submit">Login</button>
            </div>
          </form>
        </div>
        <div class="">
          <h2>Signup</h2>
          <form class="signup-form">
            <div class="">
              <label for="name-signup">Name:</label>
              <input class="input" type="text" id="name-signup"/>
            </div>
            <div class="">
              <label for="username-signup">Username:</label>
              <input class="input" type="text" id="username-signup"/>
            </div>
            <div class="">
              <label for="grade-signup">Grade:</label>
              <input class="input" type="text" id="grade-signup"/>
            </div>
            <div class="">
              <label for="animal-signup">Favorite Animal:</label>
              <input class="input" type="text" id="animal-signup"/>
            </div>
            <div class="">
              <label for="color-signup">Favorite Color:</label>
              <input class="input" type="text" id="color-signup"/>
            </div>
            <div class="">
              <label for="food-signup">Favorite Food:</label>
              <input class="input" type="text" id="food-signup"/>
            </div>
            <div class="">
              <label for="password-signup">password:</label>
              <input class="input" type="password" id="password-signup"/>
            </div>
            <div class="">
              <button class="signupBtn" type="submit">Sign-Up</button>
            </div>
          </form>
        </div>
      </div>
  </div>
  </div>

<script src="./js/login.js"></script>
