<article>
  <div class="login">
    <p class="logSignHeader">Login</p>
    <form class="login-form">
      <div>
          <label for="email-login">Username:</label>
          <input class="input" type="text" id="username-login"/>
      </div>
      <div>
        <label for="password-login">Password:</label>
        <input class="input" type="password" id="password-login"/>
      </div>
      <div class="">
        <button class="loginBtn" type="submit">Login</button>
      </div>
    </form>
  </div>
</article>

  <article class="signup">
    <p class="logSignHeader">Signup</p>
      <form class="signup-form">
        <div>
          <label for="name-signup">Name:</label>
          <input class="input" type="text" id="name-signup"/>
        </div>
        <div>
          <label for="username-signup">Username:</label>
          <input class="input" type="text" id="username-signup"/>
        </div>
        <div>
          <label for="grade-signup">Grade:</label>
          <input class="input" type="text" id="grade-signup"/>
        </div>
        <div>
          <label for="animal-signup">Favorite Animal:</label>
          <input class="input" type="text" id="animal-signup"/>
        </div>
        <div>
          <label for="color-signup">Favorite Color:</label>
          <input class="input" type="text" id="color-signup"/>
        </div>
        <div>
          <label for="food-signup">Favorite Food:</label>
          <input class="input" type="text" id="food-signup"/>
        </div>
        <div>
          <label for="password-signup">Password:</label>
          <input class="input" type="password" id="password-signup"/>
        </div>
        <div>
          <button class="signupBtn" type="submit">Sign-Up</button>
        </div>
      </form>
    </article>
  </div>
  </div>
  </div>

<script src="./js/login.js"></script>
