<div class=''>
  <div class=''>
    <h2>Welcome, {{name}}!</h2>
  </div>
  <div class='topics'>
    <div id='topic1'>
      <a href=''>
        <h2>Art</h2>
        <img src='../public/images/loginBackgroundImg.png' id='art' />
      </a>
    </div>
    <div id='topic2'>
      <a href=''>
        <h2>Geography</h2>
        <img src='../public/images/loginBackgroundImg.png' id='geography' />
      </a>
      <div id='topic3'>
        <a href=''>
          <h2>Tech</h2>
          <img src='../public/images/loginBackgroundImg.png' id='tech' />
        </a>
      </div>
    </div>
  </div>
</div>

{{! this page is displayed directly after login. TODO: front end: add in user data & make cute, add button to navigate to chatroom selection - create & connect to corresponding js file via script tag - back end: add routes file in controllers}}