<div class="">
    <div class="">
        <h2>Topic Selection Page</h2>
    </div>
</div>

<script src="./js/topics.js"></script>

{{!-- TODO: front end: format like wireframe, add clickable images/topics - see MVC activity 15 - add js in public/js - back end: create topicRoutes.js in controllers --}}