
    header {
        background: url(../images/chalkboard.jpg);
        color: white;
        margin-top: 0;
        height: 200px;
        width: 100%;
    }

h1 {
    text-align: center;
    font-size: 8rem;
    color: white;
}

    .external {
        display: table;
        position: absolute;
        top: 100px;
        left: 0;
        height: 100%;
        width: 100%;
    }

        .middle {
            display: table-cell;
            vertical-align: middle;
        }

            .internal {
                margin-left: auto;
                margin-right: auto;
                width: fit-content;
                text-align: center;
                color: blue;
                font-size: xx-large;
            }

                .input {
                    background-color: rgb(250, 86, 86);
                    color: black;
                }

                .loginBtn {
                    background-color: greenyellow;

                }

                .signupBtn {
                    background-color: green;
                }

/* maddy fckin around */
.topic-link{
    color: black;
    font-size: large;
}
